{% extends "layout.html" %}


{% block title %}
tweets and tweets
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Django Project</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create'%}" >Create a tweet</a>
<div class="container row gap-3">     <!-- row gap so that there is gap between ech card -->
    {% for tweet in  tweets %}    <!--tweets are the objects we created in tweet_create -->
    <!-- we are starting a loop for each tweet -->
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          {% if tweet.user == user %}
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">delete</a>
          {% endif %}
        </div>
      </div>{% endfor %}
</div>

{% endblock %}